.conteinerHeader{
    width: 100%;
    padding: 28px;
    position: sticky;
    top: 0;
    background-color: #fff9ea;
    z-index: 10;
}
.NavBar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
   
    
}
.NavBar>div{
  display: flex;
        >p{
            color:#e9a209 ;
            padding-left: 4px;
        }
}
.nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
    flex-direction: row;
}
.nav_item button{
    text-decoration:none ;
    color: #1d1d1dad;
    border:none;
    background:none;
}
.nav_item.active button {
    color: #1d1d1d;
    border-bottom: 3px solid #ffe100;
}
.bto_mobileMenu{
    display: none;
}
.MenuMobile{
    display: none;
    &.menuAction{
          display: none;
    }
}



@media screen and (max-width:1170px){
    .nav_list,
    .btn{
        display: none;
    }
    
    .bto_mobileMenu{
        border: none;
        display: block;
        background-color: transparent;
        font-size:1.5rem ;
    }
    .MenuMobile.menuAction{
        display: flex;
        align-items: center;
       
       
    }
    .bto_mobileMenu button{
        border: none;
        display: block;
        background-color: transparent;
        font-size:0.2rem ;
    }
    
}

@media screen and (max-width:600px){
    
    .bto_mobileMenu button{
        border: none;
        display: block;
        background-color: transparent;
        font-size:0.1rem ;
    }
    
}

