.feedback{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0 , 0 , 0, 0.1);
}
.feedbackAvatar{
    width: 100px;
    width: 100px;
    border-radius: 100%;
    object-fit: cover;
}
.feedbackContent p{
    display: flex;
    justify-content: space-between;

    
    span{
        color: #e9a209;
    }
}
.feedback p:first-child{
    font-weight: 600;
}

